.flexbox-number {
    background: #6e6dfb;
    border-top: solid 5px #605fe0;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    padding: 8px 10px;
    position: absolute;
    top: -5px;
    left: 6px;
    border-radius: 0 0 5px 5px;
    transition: .2s;
    z-index: -999;
}
.flexbox3-side .chapter {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.series-title h2 {
    margin: 0;
    padding: 0;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:normal;
}
.bg-dcustom{
    width: 400px;
    background-color: #605fe0;
    color: white;
}
.card-body ul {
    list-style: outside none none;
}
.card-body ul li strong{
    background: #1e7ce5;
    width: 100px;
    display: inline-block;
    color: #fff;
    text-align: center;
    margin:10px;
}
